@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body{
    margin: 0px;
    padding: 0px;
    
    
}

main{
   
    font-size: 1em; 
    line-height: 2.5em;
}
header{
        width: 100%;
        min-height: 200px;
        font-family: 'Passion One', cursive;
        font-weight: 400;
        font-size: 10vw;
        
        font-variant: small-caps;
        background-color: black;
        color: white;
        text-align: center;
       padding-top: 60px;
       padding-bottom: 25px;
        
        
        
      
}
nav{
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    font-weight: lighter;
    font-size: 0.4em;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    font-weight: lighter;
    font-weight: bold;
    
   
}
a:hover{
    text-decoration: underline;
    
}

p {
    font-family: 'Sriracha', cursive;
    max-width: 500px;
    font-size: 3.5vw;
   
    margin-left: 30px;
    padding-bottom: 20px;
    
  
    
    
}

br{
    margin: 0px;
    padding: 0px;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
}

section.img1{
    
    position: relative;
    width: 100%;
    height: 800px;
    background-image: url("imagens/background001.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding-top: 50px;
    box-shadow: inset 0px 1px 15px rgba(0, 0, 0, 0.822);
}

section.img1 > div{
    font-size: 3.5vw;
    position: absolute;
    font-family: 'Sriracha', cursive;
    color: white;
    max-width: 500px;
    background-color: rgba(0, 0, 0, 0.589);
    margin-left: 30px;
    padding: 5px;

}



section.img2{
    width: 100%;
    height: 800px;
    background-image: url("imagens/background002.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding-top: 50px;
    box-shadow: inset 0px 1px 15px rgba(0, 0, 0, 0.822);

}

section.img2 > div{
    position: absolute;
    font-family: 'Sriracha', cursive;
    color: white;
    max-width: 500px;
    font-size: 3.5vw;
    background-color: rgba(0, 0, 0, 0.589);
    margin-left: 30px;
    padding: 5px;

}

footer > div{
    background-color: black;
    color: white;
    margin-bottom: -50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: lighter;
    padding: 10px;
    text-align: center;
    margin-top: 200px;
}